.calendar {
  width: 100%;

  @include font(14px, 18px, $font-weight-normal);
  border-spacing: 0;
  border-collapse: collapse;

  @include tablet {
    @include font(18px, 18px, $font-weight-normal);
  }
}

.calendar__title {
  text-align: center;
  color: inherit;

  &--full {
    display: none;

    @include tablet {
      display: inline;
    }
  }
}

.calendar__title-day {
  padding: 0 0 7px;

  &--holiday {
    color: $color-orange-hotred;
  }

  @include desktop {
    padding-left: 16px;
    padding-top: 14px;
    padding-bottom: 20px;

    text-align: left;
  }
}

.calendar__day {
  min-width: 31px;
  height: 31px;
  padding: 0;

  box-sizing: border-box;

  text-align: center;

  border: 1px solid $color-grey-light;

  @include tablet {
    min-height: 70px;
  }

  @include desktop {
    //height: 72px;
    min-width: 138px;
    box-sizing: border-box;

    text-align: left;
    vertical-align: top;
  }
}

.calendar__start-month {
  display: none;

  @include desktop {
    display: inline;
  }
}

.calendar__start-trip,
.calendar__end-trip {
  display: none;

  @include desktop {
    display: inline;

    margin-top: 5px;
  }
}

.calendar__day-button {
  width: 100%;
  height: 30px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font: inherit;

  border: none;
  background-color: transparent;

  cursor: pointer;

  &--past {
    color: rgba($color-black-bluish, 0.3);
  }

  &--available {
    color: $color-blue-ocean;

    background-color: $color-white-smoky;

    &:hover {
      color: $color-white;

      background-color: $color-blue-ocean;
      border: 2px solid $color-red-scarlett;

      @include tablet {
        border: 4px solid $color-red-scarlett;
      }

      @include desktop {
        padding-left: 11px;
        padding-top: 11px;
      }
    }
  }

  &--selected {
    color: $color-white;

    background-color: $color-blue-ocean;

    @include desktop {
      flex-direction: column;
    }

    &:hover {
      color: $color-white;

      background-color: $color-blue-ocean;
      border: 2px solid $color-red-scarlett;

      @include tablet {
        border: 4px solid $color-red-scarlett;
      }

      @include desktop {
        padding-left: 11px;
        padding-top: 11px;
      }
    }
  }

  @include tablet {
    min-height: 69px;
  }

  @include desktop {
    display: flex;

    min-height: 70px;
    padding-left: 15px;
    padding-top: 15px;

    @include font(18px, 18px, $font-weight-normal);
  }
}
