.country-card {
  position: relative;
  display: grid;
  grid-template-rows: 100px;

  min-height: 190px;
  box-sizing: border-box;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: 486px) {
    grid-template-columns: 1fr 185px;
    grid-template-rows: 140px;

    min-height: 140px;
  }

  @include desktop {
    min-width: 560px;
  }
}

.country-card__photo {
  width: 100%;

  border-radius: 10px 10px 0 0;

  @media (min-width: 485px) {
    order: 1;
    grid-column: 2/-1;
    grid-row: 1/-1;

    border-radius: 0 10px 10px 0;
  }
}

.country-card__flag {
  position: absolute;
  top: 86px;
  left: 25px;

  z-index: 2;

  @media (min-width: 486px) {
    top: 16px;
    left: auto;
    right: 150px;
  }

  @include desktop {
    top: 22px;
  }
}

.country-card__wrapper {
  display: grid;
  grid-template-columns: 1fr 61px;

  height: 90px;
  padding: 25px 24px 23px 24px;
  box-sizing: border-box;
  z-index: 1;

  background-color: $color-white;
  border-radius: 10px;

  @media (min-width: 486px) {
    order: 0;

    grid-template-columns: auto;
    grid-column: 1/2;
    grid-row: 1/2;

    min-height: 140px;
    padding-right: 35px;

    border-radius: 20px 0 0 20px;
  }

  @include tablet {
    padding-top: 30px;
    padding-left: 30px;
    padding-bottom: 19px;
  }

  @include desktop {
    padding-top: 24px;
    padding-left: 28px;

    border-radius: 20px 0 0 20px;
  }
}

.country-card__wrapper-text {
  @include tablet {
    overflow: hidden;
    white-space: nowrap;
  }
}

.country-card__title {
  margin: 0 0 2px;
  padding: 0;

  @include font(21px, 21px, $font-weight-bold);
  color: $color-black;

  overflow: hidden;
  text-overflow: ellipsis;

  @include tablet {
    margin-bottom: 3px;

    @include font(24px, 24px, $font-weight-bold);
  }

  @include desktop {
    margin-bottom: 5px;
  }
}

.country-card__promo {
  margin: 0;
  padding: 0;

  @include font(16px, 18px, $font-weight-medium);
  color: rgba($color-black-bluish, 0.3);

  overflow: hidden;
  text-overflow: ellipsis;

  @include tablet {
    @include font(20px, 20px, $font-weight-medium);
  }
}

.country-card__stats {
  display: flex;

  min-width: 60px;
  margin-top: 3px;

  @include font(16px, 20px, $font-weight-medium);
  color: rgba($color-blue-sapphire, 0.3);

  word-break: break-word;
  overflow: hidden;

  &::before {
    content: "";

    flex-shrink: 0;

    width: 14px;
    height: 14px;
    margin-right: 5px;

    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 14 14' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.38 3.93A2.7 2.7 0 007 6.69a2.7 2.7 0 002.63-2.76A2.7 2.7 0 007 1.17a2.7 2.7 0 00-2.63 2.76zm7.29 8.9h.58v-.61a4.2 4.2 0 00-4.08-4.3H5.83a4.2 4.2 0 00-4.08 4.3v.61h9.92z' fill='%23192144' opacity='0.1'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 14px 14px;

    @media (min-width: 486px) {
      width: 24px;
      height: 24px;

      background-size: 24px 24px;
    }

    @include desktop {
      width: 24px;
      height: 24px;

      margin-right: 8px;
    }
  }

  @include tablet {
    align-items: center;

    margin-top: 0;

    @include font(20px, 20px, $font-weight-medium);
  }
}
