.hero-quote {
  position: static;

  margin: 0;
  padding: 47px 84px 30px 50px;

  @include font(16px, 22px, $font-weight-light);

  @include tablet {
    padding: 55px 0 0 73px;
  }

  @include desktop {
    display: flex;
    flex-direction: column;

    padding-top: 115px;
    padding-left: 60px;
    padding-right: 85px;
  }
}

.hero-quote__text {
  margin: 0 0 18px;

  @include tablet {
    margin-bottom: 45px;

    @include font(28px, 33px, $font-weight-light);
  }
}

.hero-quote__author {
  font-style: normal;
  font-weight: $font-weight-bold;

  @include tablet {
    @include font(21px, 25px, $font-weight-bold);
  }
}

.hero-quote__br {
  &--mobile {
    @media (min-width: 415px) {
      display: none;
    }

    @include tablet {
      display: inline;
    }
  }
}
