.level {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 60px;
  height: 60px;

  box-sizing: border-box;

  background-color: $color-black-opacity-60;
  border-radius: 30px;
}

.level__number {
  position: relative;

  @include font(24px, 24px, $font-weight-bold);

  border-bottom: 1px solid rgba($color-white, 0.3);

  @include desktop {
    margin-bottom: 2px;
    padding-top: 6px;

    border-bottom: none;

    &::after {
      content: "";

      position: absolute;
      bottom: 1px;
      left: -2px;

      width: 30px;
      height: 1px;

      background-color: rgba($color-white, 0.3);
    }
  }
}

.level__text {
  @include font(14px, 14px, $font-weight-normal);
}

.level__circle {
  position: absolute;
  top: 0;
  left: 0;

  width: 60px;
  height: 60px;
  z-index: 1;

  transform: rotate(-90deg);

  &--form {
    width: 100px;
    height: 100px;

    @include tablet {
      width: 94px;
      height: 94px;
    }
  }
}
