.pagination {
  display: grid;
  grid-template-columns: 1fr 1fr;

  @include tablet {
    grid-template-columns: auto 35px 35px;
    padding: 28px 25px 25px 28px;

    background-color: $color-white;
    border-radius: 20px;
  }

  @include desktop {
    order: 2;

    grid-template-columns: auto 45px 45px;
  }
}

.pagination__list {
  display: none;

  @include tablet {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    @include reset-list;
    margin-right: auto;
  }
}

.pagination__link {
  display: flex;
  justify-content: center;
  align-items: center;

  min-width: 50px;
  min-height: 50px;

  @include font(20px, 20px, $font-weight-bold);
  color: $color-blue-ocean;

  border-radius: 50%;

  cursor: pointer;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    background-color: $color-yellow-sunrise;

    opacity: 1;
  }

  &--current {
    background-color: $color-yellow-sunrise;

    &:hover,
    &:focus {
      opacity: 1;
    }
  }
}

.pagination__prev-button,
.pagination__next-button {
  min-width: auto;

  cursor: pointer;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.pagination__prev-button {
  box-sizing: border-box;

  border-right: 1px solid $color-white-smoky;

  @include tablet {
    border-right: none;
  }
}
