.plan-item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  margin-bottom: 10px;
  padding: 24px 25px 23px;

  background-color: $color-white;
  border-radius: 10px;

  &:last-child {
    margin-bottom: 0;
  }

  @include tablet {
    display: grid;
    grid-template-columns: 1fr 190px;
    grid-template-rows: 100px auto;

    padding: 0;
  }

  @include desktop {
    grid-template-columns: 625px auto 250px;
    grid-template-rows: auto;
    grid-column-gap: 0;
    align-items: center;

    margin-bottom: 13px;
  }
}

.plan-item__col-1 {
  display: flex;
  justify-content: start;
  align-items: center;

  margin-bottom: 20px;

  color: $color-blue-ocean;

  @include tablet {
    grid-column: 1/-1;
    justify-content: space-between;

    margin-bottom: 0;
    padding-left: 40px;
    padding-right: 32px;

    border-bottom: 1px solid rgba($color-telegray-light, 0.3);
  }

  @include desktop {
    grid-column: 1/2;
    justify-content: start;

    padding: 0;

    border: none;
  }
}

.plan-item__number {
  margin-right: 5px;

  @include font(16px, 16px, $font-weight-medium);

  @include tablet {
    order: 1;
    margin-right: 0;

    @include font(20px, 20px, $font-weight-medium);
  }

  @include desktop {
    order: 0;

    padding-left: 40px;
    padding-right: 40px;
  }
}

.plan-item__countries {
  margin: 0;

  @include font(16px, 16px, $font-weight-bold);

  @include tablet {
    @include font(24px, 24px, $font-weight-bold);
  }
}

.plan-item__col-2 {
  display: flex;
  flex-direction: column;

  margin-bottom: 24px;

  color: $color-blue-ocean;

  @include tablet {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;

    flex-direction: row;
    justify-content: space-between;

    margin-bottom: 0;
    padding-left: 40px;
    padding-right: 20px;
  }

  @include desktop {
    padding: 0 20px 0 0;
  }
}

.plan-item__text {
  margin: 0;

  @include font(14px, 14px, $font-weight-medium);
  text-transform: uppercase;
  letter-spacing: 0.06em;

  @include tablet {
    @include font(20px, 20px, $font-weight-medium);
    letter-spacing: 0.1em;
  }
}

.plan-item__companions {
  margin-bottom: 5px;

  @include tablet {
    margin-bottom: 0;
  }
}

.plan-item__change {
  display: inline-flex;
  flex-wrap: wrap;

  width: fit-content;

  @include font(14px, 14px, $font-weight-medium);
  text-transform: uppercase;
  color: rgba($color-black, 0.3);
  word-break: break-word;

  &:hover,
  &:focus {
    color: rgba($color-black, 0.7);
  }

  &:active {
    color: rgba($color-black, 0.1);
  }

  @include tablet {
    align-items: center;

    min-height: 53px;
    padding-left: 40px;
    padding-right: 40px;

    @include font(20px, 20px, $font-weight-medium);
    letter-spacing: 0.1em;
  }

  @include desktop {
    min-height: 100px;
    margin-left: auto;
    padding: 0 40px;
  }
}
