.plan-list {
  display: flex;

  @include reset-list;
}

.plan-list-with-desc {
  display: none;

  @include desktop {
    grid-row: 1/-1;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    padding-right: 45px;
    padding-left: 200px;
    list-style: disc;

    @include font(20px, 24px, $font-weight-normal);
  }
}

.plan-list-with-desc .plan-list__item {
  @include desktop {
    width: auto;
    height: auto;
    margin-right: 0;
    padding-left: 25px;
    padding-bottom: 20px;

    text-transform: uppercase;
    letter-spacing: 0.1em;

    background-color: transparent;
    border-radius: 0;

    &:last-child {
      padding-bottom: 0;
    }

    &::marker {
      color: $color-blue-ocean;

      @include desktop {
        font-size: 1.5rem;
      }
    }
  }
}

.plan-list__item {
  width: 5px;
  height: 5px;
  margin-right: 16px;

  background-color: $color-blue-ocean;
  border-radius: 50%;

  opacity: 0.3;

  &:first-child {
    opacity: 1;
  }

  &:last-child {
    margin-right: 0;
  }

  @include tablet {
    width: 6px;
    height: 6px;

    margin-right: 29px;
  }
}
