.range {
  padding: 23px 0;

  @include desktop {
    padding-top: 34px;
  }
}

.range__line {
  width: 100%;
  height: 2px;

  background-color: rgba($color-blue-ocean, 0.2);

  @include desktop {
    height: 3px;
  }

  &--current {
    position: relative;
    width: 132px;
    height: 2px;
    margin-left: 78px;

    background-color: $color-blue-ocean;

    @include desktop {
      width: 100px;
      height: 3px;
      margin-left: 75px;
    }
  }
}

.range__position {
  position: absolute;
  top: -4px;
  width: 10px;
  height: 10px;

  background-color: $color-blue-ocean;
  border-radius: 50%;

  cursor: pointer;

  @include desktop {
    width: 13px;
    height: 13px;
  }

  &--min {
    left: -5px;

    @include desktop {
      left: -13px;
    }
  }

  &--max {
    right: -5px;

    @include desktop {
      right: -13px;
    }
  }

  &--min:focus,
  &--max:focus {
    outline: 5px auto -webkit-focus-ring-color;
  }

  &--min:focus,
  &--max:focus,
  &--min:hover,
  &--max:hover {
    top: -8px;

    width: 19px;
    height: 19px;
  }
}

.level-range__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.level-range__element {
  display: block;

  margin: 0;
  box-sizing: border-box;

  border: 1px solid $color-telegray-light;

  &:first-child {
    border-radius: 4px 0 0 4px;
    border-right: none;
  }

  &:last-child {
    border-radius: 0 4px 4px 0;
    border-left: none;
  }

  &:hover {
    border-color: $color-manatee;
  }

  &:hover + .level-range__border {
    &::before {
      background-color: $color-manatee;
    }
  }

  &:focus {
    border-color: $color-blue-sapphire;
  }

  &:focus + .level-range__border {
    &::before {
      background-color: $color-blue-sapphire;
    }
  }

  @include tablet {
    padding: 0;
  }
}

.level-range__element-min {
  border-radius: 4px 0 0 4px;

  cursor: pointer;
}

.level-range__element-max {
  border-radius: 0 4px 4px 0;

  cursor: pointer;
}

.level-range__element > input[type="number"] {
  width: 100%;
  height: 35px;
  margin: 0;
  padding-bottom: 0;
  box-sizing: border-box;

  font: inherit;

  @include font(14px, 13px, $font-weight-medium);
  text-align: center;

  border: none;

  @include tablet {
    min-height: 46px;

    @include font(20px, 20px, $font-weight-medium);
  }
}

.level-range__border {
  position: relative;

  display: inline-block;
  height: 35px;

  &::before {
    content: "";

    position: absolute;

    height: 100%;
    width: 1px;

    background-color: $color-telegray-light;
  }

  &::after {
    content: "";

    position: absolute;
    top: 50%;
    left: -10px;

    height: 1px;
    width: 20px;

    background-color: $color-telegray-light;

    box-shadow: 0 0 0 7px $color-white;
  }

  @include tablet {
    height: 45px;
  }
}
