.route {
  margin-bottom: 25px;

  @include tablet {
    position: relative;
    padding-top: 42px;

    border-top: 1px solid $color-telegray-light;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 140px;

      width: 1px;
      height: 80px;

      background-color: $color-telegray-light;
    }
  }

  @include desktop {
    padding-top: 65px;

    &::before {
      right: 230px;

      height: 90px;
    }
  }
}

.route-module {
  position: relative;
  display: grid;
  grid-template-columns: auto 53px;
  align-items: center;

  width: 100%;

  margin-bottom: 22px;

  &:last-child {
    margin-bottom: 0;
  }

  &::before {
    content: "";
    position: absolute;
    right: 48px;

    width: 8px;
    height: 8px;
    box-sizing: border-box;

    background-color: $color-blue-ocean;
    border-radius: 50%;
  }

  &::after {
    content: "";

    position: absolute;
    top: 48px;
    right: 48px;

    width: 8px;
    height: 10px;

    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 8 11' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.65 10.35c.2.2.5.2.7 0l3.19-3.18a.5.5 0 10-.71-.7L4 9.28 1.17 6.46a.5.5 0 10-.7.71l3.18 3.18zM3.5 0v10h1V0h-1z' fill='%23CBCED9'/%3E%3C/svg%3E%0A");
  }

  @include tablet {
    display: grid;
    grid-template-columns: 1fr 50px 115px;
    grid-template-rows: 70px;

    margin-bottom: 15px;

    &:last-child {
      margin-bottom: 50px;
    }

    &::before,
    &::after {
      display: none;
    }
  }

  @include desktop {
    grid-template-columns: 1fr 80px 190px;

    &:last-child {
      margin-bottom: 60px;
    }
  }
}

.route-module__select {
  position: relative;

  display: flex;
  z-index: 2;

  &::before {
    border: 1px solid $color-telegray-light;

    background-color: transparent;
  }

  &--active {
    display: grid;
    grid-template-columns: 1fr;
    border-radius: 4px 4px 0 0;
    border: none;

    @include tablet {
      grid-template-columns: 1fr 50px 115px;
    }

    @include desktop {
      grid-template-columns: 1fr 80px 190px;
    }
  }

  &--active::before {
    display: none;
  }

  &--active .button-delete {
    //display: none;
  }

  &--active .button-close {
    position: relative;

    display: block;
  }

  &--active .route-module__arrow-down {
    display: none;
  }

  &--active label {
    display: none;
  }

  &--active .route-module__input {
    color: $color-white;
  }

  &--active .route-module__wrapper {
    background-color: $color-blue-ocean;

    border: none;
    border-radius: 4px 4px 0 0;
  }

  &--active .alphabet-test {
    position: absolute;
    top: 42px;
    left: 0;

    display: grid;
    width: 100%;

    @include tablet {
      top: 70px;
    }

    @include desktop {
      min-width: 730px;
      width: auto;
    }
  }

  @include tablet {
    display: grid;
  }
}

.route-module__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  min-height: 42px;
  padding-left: 11px;
  padding-right: 11px;
  box-sizing: border-box;

  border: 1px solid $color-telegray-light;
  border-radius: 4px;

  cursor: pointer;

  &:hover {
    border: 1px solid $color-manatee;
  }

  @include tablet {
    grid-column: 1/2;

    padding: 24px;
  }
}

.route-module__wrapper-label {
  width: inherit;
}

.route-module__add {
  display: flex;

  border: none;

  &::before {
    border: 1px solid $color-telegray-light;

    background-color: transparent;
  }

  &::after {
    display: none;
  }

  @include tablet {
    display: grid;
  }
}

.route-module__arrow-down {
  width: 11px;
  height: 8px;
  margin-left: 10px;

  opacity: 0.3;

  @include tablet {
    width: 22px;
    height: 10px;
  }
}

.route-module__wrapper--add {
  background-color: $color-white-smoky;
}

.route-module__wrapper--add label {
  position: relative;

  width: 14px;
  height: 14px;
  margin: 0;

  background-color: transparent;

  opacity: 0.2;

  cursor: pointer;

  &:hover,
  &:focus {
    opacity: 0.3;
  }

  &:active {
    opacity: 0.1;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 6px;

    width: 2px;
    height: 14px;

    background-color: $color-black;
  }

  &::after {
    transform: rotate(90deg);
  }

  //&::after {
  //  content: "";
  //  position: absolute;
  //  top: 6px;
  //  left: 0;
  //
  //  width: 14px;
  //  height: 2px;
  //
  //  background-color: $color-blue-pale;
  //}
}

.route-module__input {
  width: 100%;
  margin: 0;
  padding: 0;

  font: inherit;

  @include font(14px, 18px, $font-weight-medium);
  text-transform: uppercase;
  text-overflow: fade;
  color: $color-blue-ocean;

  background-color: transparent;
  border: none;

  &--select {
    color: $color-white;
  }

  &--add {
    text-align: left;
  }

  @include tablet {
    @include font(20px, 20px, $font-weight-medium);
    letter-spacing: 0.1em;
  }
}

.route__country-wrapper {
  flex-shrink: 0;
  position: relative;

  display: inline-block;
  height: 42px;
  padding: 8px;
  box-sizing: border-box;

  border: 1px solid $color-telegray-light;
  border-left: none;
  border-radius: 4px;

  @include tablet {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: auto;
    padding: 0;

    border: none;
  }
}

.route__country-flag {
  width: 35px;
  height: 24px;

  @include tablet {
    width: 70px;
    height: 47px;
  }
}

.route__graph {
  display: none;

  @include tablet {
    position: relative;

    display: block;
    margin: 0 auto;

    &::before {
      content: "";
      position: absolute;
      top: -7px;
      left: -7px;

      width: 14px;
      height: 14px;
      box-sizing: border-box;
      z-index: 1;

      background-color: $color-blue-ocean;
      border-radius: 50%;
    }

    &::after {
      content: "";
      position: absolute;
      top: 6px;

      width: 1px;
      height: 72px;

      background-color: $color-telegray-light;
    }
  }
}

.route-module__select .route__graph {
  @include tablet {
    &::before {
      z-index: 2;

      background: $color-white;
      border: 1px solid $color-telegray-light;
    }
  }
}

.route-module__add .route__graph {
  @include tablet {
    &::before {
      background: $color-white-smoky;
      border: 1px solid $color-telegray-light;
    }
  }

  @include desktop {
    &::after {
      height: 188px;
    }
  }
}
