.slider-item {
  margin-bottom: 10px;
  padding: 25px 25px 22px;

  background-color: $color-white;
  border-radius: 10px;

  &:last-child {
    margin-bottom: 0;
  }

  @include tablet {
    margin-bottom: 40px;
    padding: 50px 40px 55px;

    border-radius: 25px;
  }

  @include desktop {
    margin-bottom: 45px;
    padding: 100px 160px 105px;

    border-radius: 60px;
  }
}

.step-two {
  padding-top: 22px;
  padding-bottom: 8px;

  @include tablet {
    margin-bottom: 50px;
    padding: 45px 42px 52px;
  }

  @include desktop {
    margin-bottom: 45px;
    padding: 95px 160px 105px;

    border-radius: 60px;
  }
}

.step-three {
  padding-top: 24px;
  padding-bottom: 10px;

  @include tablet {
    padding-top: 48px;
    padding-bottom: 55px;
  }

  @include desktop {
    margin-bottom: 45px;
    padding: 97px 160px 105px;

    border-radius: 60px;
  }
}

.step-three .slider-item__description {
  margin-bottom: 19px;
}

.slider-item__step-one-wrapper,
.slider-item__step-two-wrapper,
.slider-item__step-three-wrapper {
  @include desktop {
    display: grid;
    grid-template-columns: 1fr min-content;
    grid-template-rows: auto auto;
    align-items: center;

    margin-bottom: 50px;
  }
}

.slider-item__step-three-wrapper {
  @include tablet {
    margin-bottom: 40px;

    border-bottom: 1px solid $color-grey-platinum;
  }

  @include desktop {
    margin-bottom: 73px;
    padding-bottom: 33px;
  }
}

.slider-item__title {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  margin: 0 0 16px;

  @include font(20px, 20px, $font-weight-bold);
  color: $color-blue-ocean;

  @include tablet {
    margin-bottom: 35px;

    @include font(36px, 36px, $font-weight-bold);
  }

  @include desktop {
    grid-column: 1/2;
    grid-row: 1/2;

    flex-direction: row;
  }
}

.slider-item__description {
  margin: 0 0 20px;

  color: $color-black-bluish;

  @include tablet {
    margin-bottom: 33px;

    @include font(20px, 24px, $font-weight-normal);
  }

  @include desktop {
    grid-column: 1/2;
    grid-row: 2/3;

    margin-bottom: 0;
  }
}

.slider-item .month-module {
  margin-bottom: 22px;

  @include tablet {
    margin-bottom: 45px;
  }

  @include desktop {
    margin-bottom: 55px;
  }
}

.slider-item__module-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  @include tablet {
    margin-bottom: 35px;
  }

  @include desktop {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 15px;

    margin-bottom: 31px;
    padding-top: 30px;

    border-top: 1px solid $color-grey-platinum;
  }
}

.slider-item .button-module {
  letter-spacing: 0.09em;

  @include desktop {
    letter-spacing: 0;
  }
}

.slider-item .checkbox-module {
  @include tablet {
    order: 1;
  }
}

.slider-item .up-down-button-duration {
  @include tablet {
    order: 2;
  }
}

.slider-item__button-wrapper {
  display: flex;
  flex-direction: column;

  @include tablet {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

.slider-item__next-step {
  justify-content: center;
  padding: 7px 7px 5px;

  @include font(17px, 30px, $font-weight-bold);

  text-transform: uppercase;

  border-radius: 20px;

  &::after {
    display: none;
  }

  @include tablet {
    display: inline-flex;
    justify-content: space-between;

    min-width: 285px;
    min-height: 80px;
    padding: 28px 35px;

    @include font(24px, 24px, $font-weight-bold);
    text-transform: none;

    border-radius: 20px;

    &::after {
      display: block;
    }
  }
}

.step-two__next-step {
  margin-bottom: 13px;

  @include tablet {
    margin-bottom: 0;
  }
}

.slider-item__prev-step {
  @include font(17px, 30px, $font-weight-bold);

  &:hover,
  &:focus {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.3;
  }

  @include tablet {
    width: auto;
    justify-content: end;

    @include font(24px, 22px, $font-weight-bold);
    text-transform: none;

    &::before {
      content: "";

      height: 0;
      margin-right: 20px;

      border-right: 12px solid $color-blue-ocean;
      border-top: 9px solid transparent;
      border-bottom: 9px solid transparent;

      @include tablet {
        margin-right: 25px;
      }
    }
  }
}

.step-three__button-round {
  margin: 0 0 10px;

  @include tablet {
    margin: 0;
  }
}
