.tags-list {
  @include reset-list;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  padding: 0 36px 15px 42px;

  @include font(16px, 18px, $font-weight-normal);

  @include tablet {
    padding-bottom: 25px;
  }

  @include desktop {
    padding-left: 31px;
    padding-right: 31px;

    @include font(20px, 23px, $font-weight-normal);
  }
}

.tags-list__item {
  margin-right: 5px;

  &:last-child {
    margin-right: 0;
  }
}

.tags-list__link {
  color: $color-black-bluish;
}
