@import "mixins";
@import "variables";
@include font-face("Blogger", "bloggersans", $font-weight-normal);
@include font-face("Blogger", "bloggersans-bold", $font-weight-bold);
@include font-face("Blogger", "bloggersans-bolditalic", $font-weight-bold, italic);
@include font-face("Blogger", "bloggersans-italic", $font-weight-normal, italic);
@include font-face("Blogger", "bloggersans-light", $font-weight-light);
@include font-face("Blogger", "bloggersans-lightitalic", $font-weight-light, italic);
@include font-face("Blogger", "bloggersans-medium", $font-weight-medium);
@include font-face("Blogger", "bloggersans-mediumitalic", $font-weight-medium, italic);
