@import "common/mixins";
@import "common/fonts";
@import "common/variables";
@import "common/global";
@import "common/page-main";
@import "common/container";
@import "common/cross";
@import "common/title";
@import "common/error-message";
// Blocks
@import "blocks/header-navigation";
@import "blocks/actions-list";
@import "blocks/cards";
@import "blocks/country-card";
@import "blocks/user-card";
@import "blocks/level";
@import "blocks/tags-list";
@import "blocks/travel-list";
@import "blocks/price-list";
@import "blocks/copyright";
@import "blocks/business-list";
@import "blocks/plan-item";
@import "blocks/plan-list";
@import "blocks/calendar";
@import "blocks/route";
@import "blocks/country-plan";
@import "blocks/pagination";
@import "blocks/range";
@import "blocks/alphabet-test";
@import "blocks/hero-quote";
@import "blocks/buttons/button";
@import "blocks/buttons/button-business";
@import "blocks/buttons/button-change-photo";
@import "blocks/buttons/button-close";
@import "blocks/buttons/button-delete";
@import "blocks/buttons/button-down";
@import "blocks/buttons/button-feedback";
@import "blocks/buttons/button-module";
@import "blocks/buttons/button-rect";
@import "blocks/buttons/button-round";
@import "blocks/buttons/button-sort-toggle";
@import "blocks/buttons/button-up";
@import "blocks/buttons/button-X";
@import "blocks/buttons/checkbox-module";
@import "blocks/buttons/month-module";
@import "blocks/buttons/up-down-button";
@import "blocks/slider-item";
@import "blocks/buttons/button-next";
@import "blocks/buttons/button-prev";
// Components
@import "components/header";
@import "components/footer";
@import "components/hero";
@import "components/about-us";
@import "components/directions";
@import "components/companions";
@import "components/profile";
@import "components/feedback";
@import "components/map";
@import "components/map-image";
@import "components/new-plan";
@import "components/user-plans";
@import "components/user-profile";
@import "components/filter";
@import "components/travellers";
@import "components/sort";
// Pages
@import "components/page";
@import "pages/form-page";
@import "pages/catalog-page";
