.companions {
  position: relative;

  margin-top: -30px;

  font-weight: $font-weight-light;
  color: $color-white;

  background-color: $color-blue-cobalt;
  border-radius: 0 0 25px 25px;
  z-index: 4;

  @include tablet {
    margin-top: -50px;

    border-radius: 0 0 60px 60px;
  }
}

.companions__container {
  padding-top: 65px;
  padding-bottom: 30px;

  background-image: url("../../img/companions-bg-rect-mobile.png"), url("../../img/rogovaya-bg-companions-mobile.png");
  background-repeat: no-repeat;
  background-position: 0 65px, 0 337px;


  @include tablet {
    @include container($width-tablet, 75px);

    padding-top: 120px;
    padding-bottom: 87px;

    background-image: url("../../img/smolov-companion-bg-mobile.png"), url("../../img/companions-bg-rect-tablet.png"), url("../../img/rogovaya-bg-companions-tablet.png");
    background-repeat: no-repeat;
    background-position: 40px 425px, 60px 70px, calc(100% - 75px) 70px;
  }

  @include desktop {
    @include container($width-desktop, 60px);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto min-content;

    padding-top: 185px;
    padding-bottom: 130px;

    background-position: 547px 185px, 60px 120px, 190px 435px;
  }
}

.companions__wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 33px 24px 55px;

  background-image: url("../../img/smolov-companion-bg-mobile.png");
  background-repeat: no-repeat;
  background-position: top right;

  @include tablet {
    padding: 71px 0 58px;
    background-image: none;
  }

  @include desktop {
    max-width: 428px;
    padding: 0 70px 85px;
  }
}

.companions__title {
  color: $color-orange;

  @include tablet {
    margin-bottom: 55px;

    @include font(45px, 45px, $font-weight-bold);
  }
}

.companions__text {
  max-width: 275px;

  margin: 0 0 21px;

  @include tablet {
    max-width: 429px;
    margin-bottom: 40px;

    @include font(28px, 34px, $font-weight-light);
  }

  &--bold {
    max-width: 260px;
    margin-bottom: 0;

    font-weight: $font-weight-bold;

    @include tablet {
      @include font(21px, 24px, $font-weight-bold);
    }
  }
}

.companions__cards {
  margin-bottom: 20px;

  @include tablet {
    margin-bottom: 81px;
  }

  @include desktop {
    grid-column: 2/-1;
    grid-row: 1/-1;
    align-items: center;

    margin-bottom: 0;
  }
}

.companions__cards-list {
  justify-content: space-around;

  @include tablet {
    grid-template-columns: auto auto;
    justify-content: space-between;
  }

  @include desktop {
    justify-content: end;

    grid-template-columns: 285px 285px;
    grid-column-gap: 60px;
  }
}

.companions .user-card__user {
  @include tablet {
    @include font(24px, 22px, $font-weight-bold);
  }
}

.companions .travel-list {
  @include tablet {
    margin-bottom: 25px;
  }
}

.companions__level {
  position: absolute;
  top: 17px;
  left: 17px;

  @include tablet {
    top: 20px;
    left: 20px;
  }
}

.companions__level .level__number {
  margin-top: 5px;
}

.companions .user-card__wrapper {
  @include tablet {
    margin: 0;
    padding: 10px 46px 23px;
  }
}

.companions .tags-list {
  padding-left: 30px;
  padding-right: 30px;

  @include font(16px, 18px, $font-weight-normal);

  @include tablet {
    @include font(20px, 23px, $font-weight-normal);
  }
}

.companions .user-card__status {
  @include tablet {
    width: 8px;
    height: 8px;
    margin-right: 14px;

    @include font(20px, 23px, $font-weight-normal);
  }
}

.companions .button-rect {
  @include tablet {
    padding: 28px 38px 28px 32px;

    @include font(24px, 24px, $font-weight-bold);

    border-radius: 20px;
  }

  @include desktop {
    max-width: 280px;
    max-height: 80px;
    margin-left: 70px;
  }
}
