.footer {
  position: relative;

  margin-top: -15px;
  z-index: 1;

  background-color: $color-white;
  border-radius: 25px 25px 0 0;

  @include tablet {
    border-radius: 50px 50px 0 0;
  }

  @include desktop {
    margin-top: -65px;
  }
}

.footer__container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  @include tablet {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding-top: 46px;
    padding-bottom: 32px;
  }

  @include desktop {
    align-items: center;
    justify-content: stretch;

    height: 154px;
    padding-bottom: 43px;
  }
}

.footer__logo-link {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 36px 0 41px;

  cursor: pointer;

  @include tablet {
    justify-content: start;

    padding: 0;
  }
}

.footer__logo-image {
  width: 96px;
  height: 15px;

  cursor: pointer;

  @include tablet {
    width: 164px;
    height: 42px;
  }

  @include desktop {
    width: 200px;
    height: 55px;
  }
}

.footer__social {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  padding-bottom: 37px;

  @include tablet {
    padding: 0;
  }

  @include desktop {
    margin-left: 362px;
    margin-right: auto;
  }
}

.footer__social-image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 45px;
  height: 45px;

  background-color: $color-yellow-sunrise;
  border-radius: 50%;

  @include tablet {
    width: 62px;
    height: 62px;
  }

  &:hover,
  &:focus {
    background-color: $color-yellow-saffron;
  }

  &:active .footer__social-image {
    opacity: 0.3;
  }
}

.footer__social-image {
  width: 23px;
  height: 21px;

  fill: $color-blue-cobalt;

  @include tablet {
    width: 28px;
    height: 26px;
  }
}

.footer__copyright {
  padding: 10px 0 18px 0;
  border-top: 1px solid $color-white-smoky-light;

  @include tablet {
    padding: 0;
    border: none;
  }
}
