.hero {
  position: relative;
  padding-bottom: 39px;
  z-index: 7;

  color: $color-white;

  background-color: $color-blue-sapphire;

  @include tablet {
    padding-bottom: 95px;

    background-color: $color-cobalt-blue;
  }

  @include desktop {
    min-height: 640px;
    padding-bottom: 0;

    background-color: $color-blue-sapphire;
    background-image: url("../../img/hero-bg-desktop@1x.png");
    background-repeat: no-repeat;
    background-position-y: -110px;
    background-size: cover;
    border-radius: 0 0 50px 50px;
  }
}

.hero__container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  padding-left: 0;
  padding-right: 0;
}

.hero__wrapper {
  position: relative;

  @include desktop {
    flex-direction: row;
    justify-content: space-between;
  }
}

.hero__bg-wrapper {
  display: grid;

  background-image: url("../../img/hero-bg-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position-y: -50px;
  background-position-x: center;
  background-size: 320px auto;

  @media (min-resolution: 2dppx) {
    background-image: url("../../img/hero-bg-mobile@2x.jpg");
  }

  @include tablet {
    grid-template-columns: auto auto;

    background-image: url("../../img/hero-bg-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-position-y: 240px;
    background-size: contain;

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/hero-bg-tablet@2x.jpg");
    }
  }

  @include desktop {
    grid-template-columns: auto auto auto;
    background-image: none;
  }
}

.hero__title {
  min-width: 240px;
  margin: 0 auto;
  padding: 42px 16px 8px;

  @include font(36px, 40px, $font-weight-bold);
  text-align: center;

  @include tablet {
    grid-column: 1/-1;

    max-width: 400px;
    margin: 0 auto;
    padding-top: 33px;
    padding-bottom: 30px;

    @include font(60px, 70px, $font-weight-bold);
  }

  @include desktop {
    grid-column: unset;

    margin: 0;
    padding: 100px 80px 105px 127px;

    text-align: left;
  }
}

.hero__image {
  height: 255px;
  padding-left: 25%;

  position: relative;


  @include tablet {
    order: 1;

    width: 372px;
    height: 451px;
    margin-bottom: 140px;
    margin-right: auto;
    margin-left: -155px;
    padding-left: 0;

    background: none;
  }

  @include desktop {
    order: 0;

    width: 431px;
    height: 640px;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;

    z-index: 0;
  }
}

.hero__quote-wrapper {
  background-color: $color-blue-sapphire;

  z-index: 1;

  @include tablet {
    background-color: transparent;
  }
}

.hero__menu-auth-wrapper {
  position: absolute;
  top: 404px;

  display: grid;
  grid-template-columns: min-content auto;
  grid-template-areas: "contacts nav";

  min-width: 100%;
  padding-left: 25px;
  padding-right: 25px;
  box-sizing: border-box;
  z-index: 8;

  @include tablet {
    display: none;
  }
}

.hero__user-navigation-button {
  align-items: center;

  &:hover,
  &:focus {
    background-color: $color-yellow-saffron;
  }

  &:active span {
    opacity: 0.3;
  }

  @include tablet {
    margin: 0;

    @include font(20px, 20px, $font-weight-bold);
  }
}

.hero__user-navigation-button span {
  padding-top: 3px;
}

.hero__contacts {
  grid-area: contacts;

  display: flex;

  @include font(16px, 18px, $font-weight-bold);
  text-transform: uppercase;
}

.hero__telephone,
.hero__email {
  display: flex;
  align-items: center;

  color: $color-blue-cobalt;
}

.hero__telephone {
  &:hover .hero__telephone-image-wrapper,
  &:focus .hero__telephone-image-wrapper {
    background-color: $color-orange-hover;
  }

  &:active .hero__telephone-image {
    opacity: 0.3;
  }
}

.hero__email {
  &:hover .hero__email-image-wrapper,
  &:focus .hero__email-image-wrapper {
    background-color: $color-orange;
  }

  &:active .hero__mail-image {
    opacity: 0.3;
  }
}

.hero__telephone-image-wrapper,
.hero__email-image-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 40px;
  height: 40px;

  border-radius: 50%;
}

.hero__telephone-image-wrapper {
  background-color: $color-orange;
}

.hero__email-image-wrapper {
  background-color: $color-yellow-saffron;
}

.hero__telephone-image,
.hero__mail-image {
  width: 18px;
  height: 18px;

  fill: $color-blue-sapphire;
}
