.map-image {
  position: relative;
  min-width: 100%;
  height: 300px;
  margin-top: -20px;
  z-index: 0;

  object-fit: cover;

  @include tablet {
    height: 500px;
  }

  @include desktop {
    height: 520px;

    margin-top: -60px;
  }
}

.map-image__google {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: inherit;

  border: none;
}
