.map {
  position: relative;

  margin-top: -25px;
  z-index: 1;

  @include font(16px, 22px, $font-weight-bold);
  text-transform: uppercase;
  color: $color-blue-ocean;

  background-color: $color-yellow-sunrise;
  border-radius: 0 0 30px 30px;

  @include tablet {
    margin-top: -50px;
  }

  @include desktop {
    border-radius: 0 0 60px 60px;
  }
}

.map__container {
  padding-top: 25px;

  @include tablet {
    padding-top: 50px;
  }
}

.map__wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  padding: 31px 0 35px;

  @include tablet {
    padding: 48px 35px 84px;
  }

  @include desktop {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 55px 75px 55px 225px;
  }
}

.map__address {
  display: flex;
  align-items: center;

  margin-bottom: 32px;
  box-sizing: border-box;

  @include font(16px, 22px, $font-weight-bold);
  font-style: normal;
  text-transform: uppercase;

  @include tablet {
    margin-bottom: 43px;

    @include font(28px,28px, $font-weight-bold);
  }

  @include desktop {
    margin-bottom: 0;
  }
}

.map__address-image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 45px;
  height: 45px;
  margin-right: 16px;

  background-color: $color-blue-dark;
  border-radius: 50%;

  @include tablet {
    width: 68px;
    height: 68px;

    margin-right: 24px;
  }

  @include desktop {
    width: 90px;
    height: 90px;

    margin-right: 31px;
  }
}

.map__address-image {
  width: 21px;
  height: 21px;

  @include tablet {
    width: 32px;
    height: 32px;
  }

  @include desktop {
    width: 42px;
    height: 42px;
  }
}

.map__address br {
  @include tablet {
    display: none;
  }
}

.map__button-rect {
  height: 62px;
  padding-left: 20px;
  padding-right: 20px;

  text-transform: none;

  border: 3px solid $color-blue-cobalt;

  &:hover,
  &:focus {
    color: $color-white;

    background-color: $color-blue-cobalt;

    &::after {
      border-left-color: $color-white;
      opacity: 1;
    }
  }

  &:active {
    &::after {
      opacity: 0.3;
    }
  }

  &:active span {
    opacity: 0.3;
  }

  @include tablet {
    min-height: 80px;
    padding-left: 35px;
    padding-right: 35px;

    @include font(24px, 24px, $font-weight-bold);

    border-radius: 20px;
  }

  @include desktop {
    min-width: 324px;

    padding: 28px 35px;
  }
}
