.new-plan {
  position: relative;
  z-index: 3;

  background-color: $color-lightgrey;
  border-radius: 25px 25px 0 0;

  @include desktop {
    margin-top: -60px;
    border-radius: 60px 60px 0 0;
  }
}

.new-plan__container {
  padding-bottom: 43px;

  @include tablet {
    padding-left: 75px;
    padding-right: 75px;
  }

  @include desktop {
    margin-top: -60px;
    padding-right: 60px;
    padding-left: 60px;
    padding-bottom: 145px;
  }
}

.new-plan__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-right: 18px;

  @include tablet {
    padding-right: 0;
  }

  @include desktop {
    padding-left: 68px;
  }
}

.new-plan__title {
  margin: 0;
  padding-top: 30px;
  padding-bottom: 29px;

  color: $color-blue-ocean;

  @include tablet {
    padding-top: 55px;
    padding-bottom: 55px;

    @include font(36px, 36px, $font-weight-bold);
  }

  @include desktop {
    padding-top: 58px;
  }
}

.new-plan .plan-list {
  @include desktop {
    display: none;
  }
}

.new-plan .plan-list-with-desc {
  @include desktop {
    display: flex;
  }
}
