.sort {
  @include desktop {
    order: 1;
  }
}

.sort__container {
  padding: 20px 0 25px;

  @include tablet {
    padding-top: 45px;
    padding-bottom: 45px;
  }

  @include desktop {
    min-width: auto;
    padding: 0;
  }
}

.sort__wrapper {
  padding: 28px 25px 25px;

  background-color: $color-yellow-sunrise;
  border-radius: 20px;

  @include tablet {
    padding: 35px;
  }

  @include desktop {
    padding: 45px;
    padding-left: 48px;
  }
}

.sort__title {
  margin-bottom: 22px;

  @include font(22px, 22px, $font-weight-bold);
  color: $color-blue-ocean;

  @include tablet {
    margin-bottom: 38px;

    @include font(30px, 30px, $font-weight-bold);
  }

  @include desktop {
    margin-bottom: 20px;
  }
}

.sort__area-wrapper {
  @include tablet {
    margin-bottom: 35px;
    padding-top: 20px;
    padding-bottom: 35px;

    border-top: 1px solid $color-yellow-saffron-light;
    border-bottom: 1px solid $color-yellow-saffron-light;
  }

  @include desktop {
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;

    border: none;
  }
}

.sort__area .sort__list {
  display: none;

  @include tablet {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
  }

  @include desktop {
    display: none;
  }
}

.sort__area .sort__travel-list {
  display: none;

  @include tablet {
    display: flex;
    justify-content: start;
  }

  @include desktop {
    display: none;
  }
}

.sort__area .sort__level-range {
  display: none;

  @include tablet {
    display: block;
  }

  @include desktop {
    display: none;
  }
}

.sort__area .range {
  display: none;

  @include tablet {
    display: block;

    padding-right: 60px;
  }

  @include desktop {
    display: none;

    padding-right: 0;
  }
}

.sort__area {
  border-top: 1px solid $color-yellow-saffron-light;

  &--show {
    @include desktop {
      padding-bottom: 18px;
    }
  }

  &--show .sort__rectangle {
    border-left: 5px solid transparent;
    border-bottom: 5px solid $color-blue-cobalt;
    border-right: 5px solid transparent;
    border-top: none;
  }

  &--show .button-sort-toggle {
    padding-bottom: 13px;

    @include desktop {
      padding-bottom: 20px;
    }
  }

  &--show .sort__list {
    display: grid;

    @include desktop {
      display: flex;
      flex-direction: column;
      align-items: start;
    }
  }

  &--show .sort__travel-list {
    display: flex;

    @include desktop {
      justify-content: center;
    }

    @include desktop {
      flex-direction: row;
      justify-content: start;
    }
  }

  &--show .sort__level-range,
  &--show .range {
    display: block;
  }

  @include tablet {
    display: grid;
    grid-template-columns: 125px 3fr;
    align-items: center;

    border: none;
  }

  @include desktop {
    display: block;
  }
}

.sort__area-travel {
  @include tablet {
    grid-template-rows: 70px;
  }
}

.sort__area-range {
  @include tablet {
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 45px;
  }
}

.sort__level-range {
  @include tablet {
    order: 1;
  }
}

.sort__area-toggle {
  cursor: pointer;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @include tablet {
    padding-top: 15px;
    padding-bottom: 15px;

    @include font(20px, 20px, $font-weight-medium);
  }

  @include desktop {
    padding-bottom: 5px;

    @include font(20px, 22px, $font-weight-medium);
  }
}

.sort__list {
  @include reset-list;
}

.sort__item {
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 17px;

    @include tablet {
      margin-bottom: 0;
    }
  }

  @include tablet {
    margin-bottom: 0;
  }

  @include desktop {
    margin-bottom: 16px;
  }
}

.sort__item-box {
  display: flex;

  @include font(15px, 20px, $font-weight-normal);

  cursor: pointer;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &::before {
    content: "";

    width: 18px;
    height: 18px;
    margin-right: 10px;

    background-color: $color-white;
    border-radius: 4px;

    @include tablet {
      width: 24px;
      height: 24px;
    }

    @include desktop {
      margin-right: 13px;
    }
  }

  @include tablet {
    align-items: flex-end;

    @include font(20px, 20px, $font-weight-normal);
  }
}

.sort__item-input:checked + .sort__item-box {
  &::before {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 18 17' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.39 14.18L4 10.5V9c0 .04 0-.04 0 0V7.5l3.38 3.26c.11.12.3.12.42 0L15 3v3.5l-6.2 6.62h.01l-1 1.06a.29.29 0 01-.42 0z' fill='%23161C35'/%3E%3C/svg%3E%0A");
    background-size: 18px 17px;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.sort__travel-list {
  justify-content: start;

  padding-bottom: 20px;

  @include tablet {
    padding-bottom: 0;
  }
}

.sort-travel-list__item {
  margin-right: 1px;

  @include tablet {
    margin-right: 0;
  }
}

.sort-travel-list__label {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 32px;
  height: 32px;

  background-color: $color-white;
  border-radius: 50%;

  @include tablet {
    width: 44px;
    height: 44px;
  }
}

.sort-travel-list__image {
  width: 16px;
  height: 16px;

  opacity: 0.15;

  @include tablet {
    width: 23px;
    height: 23px;
  }
}

.sort-travel-list__input:checked + .sort-travel-list__label .sort-travel-list__image {
  opacity: 1;
}

.sort__button {
  align-items: center;

  @include font(17px, 17px, $font-weight-bold);

  background-color: $color-white;

  cursor: pointer;

  &:active {
    background-color: $color-yellow-saffron-light;
  }

  @include tablet {
    max-width: none;
    width: 100%;
    margin-left: 0;
    margin-right: 0;

    @include font(20px, 20px, $font-weight-bold);
  }
}

.sort__button span {
  opacity: 0.3;
}

.sort__rectangle {
  border-left: 5px solid transparent;
  border-top: 5px solid $color-blue-cobalt;
  border-right: 5px solid transparent;

  @include tablet {
    display: none;
  }

  @include desktop {
    display: block;
  }
}
