.travellers {
  margin-bottom: -27px;
  padding-bottom: 75px;

  @include tablet {
    padding-bottom: 85px;
  }

  @include desktop {
    padding-bottom: 150px;
  }
}

.travellers__container {
  @include desktop {
    display: grid;
    grid-template-columns: 3fr 285px;
    grid-column-gap: 85px;
  }
}

.travellers__cards-list {
  margin-bottom: 25px;
}

.travellers .travellers__user-card {
  display: grid;
  grid-template-columns: auto 1fr 1fr;
  grid-template-rows: auto;

  padding-top: 15px;
  padding-bottom: 23px;

  border-radius: 20px;

  @include tablet {
    grid-template-columns: auto 150px auto auto;
    grid-template-rows: auto auto 60px auto;
    grid-column-gap: 0;

    margin-bottom: 29px;
    padding: 35px 25px 15px 0;

    &:last-child {
      margin-bottom: 0;
    }
  }

  @include desktop {
    grid-template-columns: auto min-content 1fr 1fr auto 45px;
    grid-template-rows: 45px max-content auto 60px 45px;
    grid-template-areas:
      "foto . . . ."
      "foto user user to-visit to-visit"
      "foto tags tags to-visit to-visit"
      "foto button like transport level"
      "foto . . . .";

    margin-bottom: 22px;
    padding: 0;
  }
}

.travellers__user-card .user-card__photo {
  grid-column: 1/2;

  width: 70px;
  height: 70px;
  margin-left: 18px;
  margin-right: 16px;

  border-radius: 50%;
  object-fit: contain;

  @include tablet {
    grid-row: 1/4;

    width: 190px;
    height: 190px;
    margin: 0 30px 0 35px;

    border-radius: 19px;
  }

  @include desktop {
    grid-area: foto;

    width: 285px;
    height: 285px;
    margin-left: 0;

    border-radius: 20px 0 0 20px;
  }
}

.travellers__user-card .user-card__like-wrapper {
  display: flex;
  align-items: center;
  align-self: start;

  top: 55px;
  left: 69px;

  @include tablet {
    position: static;
    align-self: center;

    grid-column: 3/4;
    grid-row: 3/4;
  }

  @include desktop {
    grid-area: like;
  }
}

.travellers__user-card .user-card__button-like {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 12 12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6 4.66l.67-1.4c.17-.35.46-.86.86-1.26.4-.4.89-.67 1.47-.67a2.28 2.28 0 012.25 2.3c0 .95-.42 1.63-1.4 2.65-.25.27-.54.55-.86.86-.83.82-1.87 1.84-2.99 3.2a40.57 40.57 0 00-2.99-3.2l-.86-.86C1.17 5.26.75 4.58.75 3.63c0-1.26 1-2.3 2.25-2.3.58 0 1.06.27 1.47.67.4.4.7.9.86 1.26L6 4.66zm.3 6.54a.39.39 0 01-.3.14.37.37 0 01-.3-.14 37.64 37.64 0 00-3.18-3.45C.98 6.22 0 5.25 0 3.63 0 1.93 1.34.54 3 .54c1.2 0 2.04.83 2.55 1.58.2.29.35.57.45.78.13-.27.28-.53.45-.78C6.96 1.37 7.8.54 9 .54c1.66 0 3 1.38 3 3.09 0 1.63-.97 2.59-2.52 4.12-.9.88-1.99 1.95-3.19 3.45z' fill='%23192144'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 12px 12px;
  background-color: transparent;

  &:hover,
  &:focus {
    background-color: $color-grey-lavender-light;
  }

  &:active {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 12 12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6 4.66l.67-1.4c.17-.35.46-.86.86-1.26.4-.4.89-.67 1.47-.67a2.28 2.28 0 012.25 2.3c0 .95-.42 1.63-1.4 2.65-.25.27-.54.55-.86.86-.83.82-1.87 1.84-2.99 3.2a40.57 40.57 0 00-2.99-3.2l-.86-.86C1.17 5.26.75 4.58.75 3.63c0-1.26 1-2.3 2.25-2.3.58 0 1.06.27 1.47.67.4.4.7.9.86 1.26L6 4.66zm.3 6.54a.39.39 0 01-.3.14.37.37 0 01-.3-.14 37.64 37.64 0 00-3.18-3.45C.98 6.22 0 5.25 0 3.63 0 1.93 1.34.54 3 .54c1.2 0 2.04.83 2.55 1.58.2.29.35.57.45.78.13-.27.28-.53.45-.78C6.96 1.37 7.8.54 9 .54c1.66 0 3 1.38 3 3.09 0 1.63-.97 2.59-2.52 4.12-.9.88-1.99 1.95-3.19 3.45z' opacity='0.3' fill='%23192144'/%3E%3C/svg%3E");
  }

  &--active {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 13 11' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.26.47c1.69 0 3.06 1.35 3.06 3.01a3.04 3.04 0 013.06-3c1.7 0 3.07 1.34 3.07 3 0 2.5-2.48 3.4-5.83 7.38a.4.4 0 01-.6 0C2.67 6.87.19 6 .19 3.48a3.04 3.04 0 013.07-3z' fill='%23F02323'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 12px 12px;
    background-color: $color-pink-linen;

    &:hover,
    &:focus {
      background-color: $color-pale-pink;
    }

    &:active {
      background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 13 11' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.26.47c1.69 0 3.06 1.35 3.06 3.01a3.04 3.04 0 013.06-3c1.7 0 3.07 1.34 3.07 3 0 2.5-2.48 3.4-5.83 7.38a.4.4 0 01-.6 0C2.67 6.87.19 6 .19 3.48a3.04 3.04 0 013.07-3z' opacity='0.3' fill='%23F02323'/%3E%3C/svg%3E%0A");
    }
  }

  @include tablet {
    width: 50px;
    height: 50px;

    background-size: 20px 20px;
  }
}

.travellers__user-card .user-card__followers {
  margin-left: 5px;

  @include font(14px, 16px, $font-weight-bold);
  color: $color-blue-sapphire;

  @include tablet {
    @include font(20px, 20px, $font-weight-bold);
  }
}

.travellers__user-wrapper {
  grid-column: 2/-1;
  align-items: baseline;

  cursor: pointer;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @include tablet {
    grid-column: 2/4;

    justify-content: start;
    align-items: center;

    margin-bottom: 20px;
    padding-left: 3px;
  }

  @include desktop {
    grid-area: user;

    margin-bottom: 0;
  }
}

.travellers__user {
  display: flex;
  flex-direction: column;

  max-width: 144px;

  @include font(20px, 20px, $font-weight-bold);
  color: $color-blue-ocean;

  white-space: nowrap;
  overflow: hidden;

  @include tablet {
    flex-wrap: wrap;
    flex-direction: row;

    max-width: 280px;
    margin-right: 22px;

    @include font(30px, 30px, $font-weight-bold);
  }

  @include desktop {
    order: 1;
  }
}

.travellers__user .user-card__user-name,
.travellers__user .user-card__user-lastname {
  display: block;

  overflow: hidden;
  text-overflow: ellipsis;
}

.travellers__user-card .user-card__status {
  margin-right: 22px;

  @include tablet {
    width: 8px;
    height: 8px;
  }
}

.travellers__tags-list {
  grid-column: 1/-1;
  justify-content: start;

  padding: 14px 25px 21px;

  @include tablet {
    grid-column: 2/4;

    align-items: center;

    margin-right: 115px;
    margin-bottom: 38px;
    padding: 0 0 0 6px;
  }

  @include desktop {
    grid-area: tags;
    align-self: center;

    margin: 0;
    padding-left: 32px;
    padding-bottom: 15px;
    padding-right: 60px;
  }
}

.travellers .tags-list__item {
  word-break: break-word;

  @include tablet {
    @include font(20px, 23px, $font-weight-normal);
  }
}

.travellers .travellers__fieldset-tovisit {
  grid-column: 1/-1;

  padding-bottom: 15px;

  @include tablet {
    grid-column: 1/-1;

    margin-top: 25px;
    padding-left: 35px;
  }

  @include desktop {
    grid-area: to-visit;

    margin-top: 0;
    padding: 0;

    border: none;
  }
}

.travellers__fieldset-tovisit .user-card__legend {
  @include tablet {
    left: 75px;
  }

  @include desktop {
    display: none;
  }
}

.travellers__user-card .user-card__to-visit {
  padding-left: 5px;

  @include tablet {
    display: flex;
    flex-wrap: wrap;
  }

  @include desktop {
    flex-direction: column;

    padding-left: 10px;
    padding-top: 5px;
  }
}

.travellers__user-card .user-card__country-card {
  margin-bottom: 10px;

  @include tablet {
    align-items: center;

    margin-right: 25px;
    margin-bottom: 0;

    @include font(20px, 20px, $font-weight-medium);

    &:last-child {
      margin-right: 0;
    }
  }

  @include desktop {
    margin-bottom: 12px;
    margin-right: 0;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.travellers__user-card .user-card__country-card-image {
  width: 26px;
  height: 18px;

  @include tablet {
    width: 35px;
    height: 24px;
  }
}

.travellers__user-card .user-card__country-card-title {
  color: $color-blue-ocean;

  word-break: break-word;

  @include tablet {
    margin-left: 12px;

    @include font(20px, 20px, $font-weight-medium);
  }

  @include desktop {
    margin-left: 15px;
  }
}

.travellers__user-card .travellers__fieldset-transport {
  grid-column: 1/3;

  padding-top: 20px;

  @include tablet {
    grid-column: 4/5;
    grid-row: 1/3;

    padding: 0;
    border: none;
  }

  @include desktop {
    display: flex;
    align-items: center;
    grid-area: transport;
  }
}

.travellers__fieldset-transport .user-card__legend {
  top: -11px;

  @include tablet {
    display: none;
  }
}

.travellers__user-card .travellers__travel-list {
  justify-content: start;

  padding-left: 0;
  padding-right: 0;

  @include tablet {
    flex-direction: column;
  }

  @include desktop {
    flex-direction: row;
  }
}

.travellers__user-card .travellers__travel-list-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 32px;
  height: 32px;
  margin: 0 1px 0 0;

  background-color: $color-white-smoky;
  border-radius: 50%;

  &::before,
  &::after {
    content: unset;
  }

  @include tablet {

    background-color: transparent;
  }
}

.travellers__user-card .travel-list__image {
  width: 16px;
  height: 16px;

  @include tablet {
    width: 23px;
    height: 23px;
  }
}

.travellers .travellers__fieldset-level {
  grid-column: 3/-1;

  padding-top: 14px;
  padding-bottom: 13px;

  @include tablet {
    grid-column: 4/5;
    grid-row: 3/4;
    align-self: center;

    padding: 0;

    border: none;
  }

  @include desktop {
    grid-area: level;
  }
}

.travellers__fieldset-level .user-card__legend {
  @include tablet {
    display: none;
  }
}

.travellers .travellers__level {
  width: 45px;
  height: 45px;

  background-color: $color-white;

  @include tablet {
    align-items: center;

    width: 60px;
    height: 60px;
  }
}

.travellers .travellers__level-number {
  border: none;

  @include tablet {
    border-bottom: 1px solid rgba($color-black, 0.1);
  }
}

.travellers .travellers__level-text {
  display: none;

  @include tablet {
    display: block;
  }
}

.travellers__level-circle {
  position: absolute;

  width: 45px;
  height: 45px;

  transform: rotate(-90deg);

  @include tablet {
    width: 60px;
    height: 60px;
  }
}

.travellers__button-round {
  grid-column: 1/-1;
  align-items: center;

  min-width: 230px;
  margin: 0 auto;
  padding: 0;

  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $color-orange;
  }

  &:active span {
    opacity: 0.3;
  }

  @include tablet {
    grid-column: 2/3;
    grid-row: 3/4;
    align-items: center;
    align-self: center;

    min-width: 150px;
    min-height: 50px;
    margin: 0;
    padding: 0;

    font-weight: $font-weight-bold;
  }

  @include desktop {
    grid-area: button;
    margin-left: 25px;
  }
}

.travellers__button-wrapper {
  margin-bottom: 20px;

  @include tablet {
    margin: 45px 0 50px;
  }

  @include desktop {
    margin: 65px 0 70px;
  }
}

.travellers__button {
  display: flex;
  align-items: center;

  font-weight: 700;

  cursor: pointer;

  &:hover .cross,
  &:focus .cross {
    opacity: 0.6;
  }

  &:active .cross {
    opacity: 0.3;
  }

  @include tablet {
    width: unset;
    margin: 0 auto;

    @include font(20px, 20px, $font-weight-bold);
  }

  @include desktop {
    margin-left: 345px;
  }
}

.travellers .cross {
  &::before {
    transform: rotate(90deg);
  }

  @include tablet {
    width: 24px;
    height: 24px;
    margin-right: 25px;

    &::before,
    &::after {
      left: 11px;

      height: 24px;
    }
  }
}
