.user-profile {
  margin-top: -20px;
  margin-bottom: -20px;

  background-color: $color-white-smoky;

  @include tablet {
    margin-top: -60px;
    margin-bottom: -60px;
  }
}

.user-profile__container {
  padding-top: 45px;
  padding-bottom: 55px;

  @include tablet {
    padding-top: 125px;
    padding-bottom: 110px;
  }

  @include desktop {
    padding-top: 128px;
    padding-bottom: 117px;
  }
}

.user-profile .user-card {
  display: block;

  background-color: $color-white-smoky;

  padding-bottom: 0;

  @include tablet {
    padding-left: 35px;
    padding-right: 35px;
  }

  @include desktop {
    padding-left: 65px;
    padding-right: 0;
  }
}

.user-profile__user-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 20px;
  align-items: center;

  @include tablet {
    grid-template-columns: 94px 1fr 94px;
    grid-column-gap: 60px;
    grid-row-gap: 48px;
  }

  @include desktop {
    grid-template-columns: 1fr 385px;
    grid-column-gap: 140px;
  }
}

.user-profile__level {
  position: relative;
  width: 100px;
  height: 100px;
  margin: 0 auto;

  background-color: transparent;
  border-radius: 50px;

  @include tablet {
    width: 94px;
    height: 94px;
  }

  @include desktop {
    position: absolute;
    top: -210px;
    right: 330px;

    z-index: 2;
  }
}

.user-profile__level .level__number {
  @include font(38px, 38px, $font-weight-bold);
  border-color: rgba($color-black-bluish, 0.3);

  @include desktop {
    color: $color-white;

    &::after {
      width: 45px;
    }
  }
}

.user-profile__level .level__text {
  margin-top: 6px;

  @include font(18px, 18px, $font-weight-normal);

  @include desktop {
    color: $color-white;
  }
}

.user-profile__photo {
  width: 100px;
  height: 100px;
  margin: 0 auto;

  @include tablet {
    width: 94px;
    height: 94px;
  }

  @include desktop {
    position: absolute;
    top: -255px;
    right: 95px;

    width: 190px;
    height: 190px;
    z-index: 2;
  }
}

.user-profile__photo img {
  border-radius: 50%;

  @include tablet {
    border-radius: 7px;
  }

  @include desktop {
    border-radius: 10px 10px 0 0;
  }
}

.user-profile__change-photo {
  display: none;
}

.user-profile__wrapper {
  grid-column: 1/-1;

  position: relative;
  width: 100%;
  margin-top: 12px;

  @include tablet {
    margin-top: 8px;
  }

  @include desktop {
    grid-column: auto;
  }
}

.user-profile__travel-wrapper {
  margin-top: 0;
  padding: 15px 25px 15px;

  box-sizing: border-box;

  border: 1px solid $color-telegray-light;
  border-radius: 10px;


  @include tablet {
    grid-column: 2/3;
    grid-row: 1/2;

    padding-top: 25px;
    padding-bottom: 25px;
  }

  @include desktop {
    min-width: 384px;
  }
}

.user-profile__travel-item {
  margin-right: 1px;

  @include tablet {
    margin-right: 0;
  }
}

.user-profile__travel-label {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 32px;
  height: 32px;

  background-color: $color-white;
  border-radius: 50%;

  @include tablet {
    width: 44px;
    height: 44px;
  }
}

.user-profile__travel-image {
  width: 16px;
  height: 16px;

  opacity: 0.15;

  @include tablet {
    width: 23px;
    height: 23px;
  }
}

.user-profile__travel-list-input:checked + .user-profile__travel-label .user-profile__travel-image {
  opacity: 1;
}

.user-profile__legend {
  position: absolute;
  top: -7px;
  left: 0;
  right: 0;

  display: flex;
  flex-wrap: wrap;

  width: fit-content;
  margin: 0 auto;
  padding-left: 17px;
  padding-right: 17px;

  @include font(16px, 18px, $font-weight-bold);
  text-transform: uppercase;
  color: $color-blue-ocean;

  background-color: $color-white-smoky;

  @include tablet {
    top: auto;
    bottom: -10px;

    @include font(20px, 20px, $font-weight-medium);
    letter-spacing: 0.1em;
  }
}

.user-profile__tags-legend {
  @include tablet {
    bottom: -3px;
  }

  @include desktop {
    margin-left: 20px;
  }
}

.user-profile__tags-editor {
  width: 100%;
  min-height: 89px;
  margin: 0;
  padding: 27px 25px 20px;

  box-sizing: border-box;

  border: 1px solid $color-telegray-light;
  border-radius: 10px;

  font: inherit;

  @include font(16px, 18px, $font-weight-normal);
  color: rgba($color-black-bluish, 0.6);

  background-color: transparent;

  &:hover {
    border-color: $color-grey-agate;
  }

  &:focus {
    color: $color-black-bluish;

    border-color: $color-blue-sapphire;
  }

  @include tablet {
    padding: 35px 40px 35px;

    @include font(20px, 22px, $font-weight-normal);
  }
}

.user-profile__travel-list .travel-list__item {
  margin-right: 0;

  &::before,
  &::after {
    display: none;
  }
}

.user-profile__travel-list .travel-list__button {
  display: flex;
  justify-content: center;
  align-items: center;

  min-width: 32px;
  min-height: 32px;
  margin: 0;
  box-sizing: border-box;

  background-color: $color-white;
  border: none;
  border-radius: 50%;

  @include tablet {
    min-width: 44px;
    min-height: 44px;
  }

  &:hover .travel-list__image,
  &:focus .travel-list__image {
    fill: $color-agate-grey;

    &--checked {
      fill: $color-blue-ocean;
      opacity: 0.7;
    }
  }

  &:active {
    background-color: $color-grey-lavender-light;
  }

  &:active .travel-list__image {
    fill: $color-blue-ocean;
    opacity: 0.1;

    &--checked {
      opacity: 0.3;
    }
  }
}

.user-profile__travel-list .travel-list__image {
  width: 17px;
  height: 16px;

  @include tablet {
    width: 23px;
    height: 23px;
  }
}
