.button-feedback {
  display: block;
  width: 100%;
  max-height: 62px;
  margin: 0;
  padding: 22px 85px 22px 25px;
  box-sizing: border-box;

  font: inherit;

  @include font(18px, 18px, $font-weight-bold);
  color: rgba($color-black-bluish, 0.5);

  border-radius: 10px;
  border: none;

  &:hover::placeholder {
    color: rgba($color-black-bluish, 0.5);
  }

  &:focus {
    color: $color-white;

    background-color: transparent;
    border: 4px solid $color-white;
  }

  @include tablet {
    max-height: 80px;
    padding: 28px 36px;

    border-radius: 20px 0 0 20px;
  }

  &::placeholder {
    color: rgba($color-black-bluish, 0.3);

    @include tablet {
      @include font(24px, 24px, $font-weight-bold);
    }
  }
}

.button-feedback-icon {
  position: absolute;
  top: 0;
  right: 0;

  width: 60px;
  height: 62px;
  box-sizing: border-box;

  font: inherit;
  color: $color-blue-ocean;

  background-color: $color-yellow-sunrise;
  border-radius: 10px;
  border: none;

  @include tablet {
    position: relative;
    flex-shrink: 0;
    width: 80px;
    height: 80px;

    border-radius: 0 20px 20px 0;
  }

  @include desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;

    min-width: 323px;
  }

  &::after {
    content: "";
    position: absolute;
    top: 25px;
    left: 26px;

    width: 12px;

    border-left: 12px solid $color-blue-ocean;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;

    @include tablet {
      top: 35px;
      left: 35px;
    }

    @include desktop {
      position: relative;
      top: 0;
      left: 0;

      margin-right: 15px;
    }
  }
}

.button-feedback-icon__text {
  display: none;

  @include desktop {
    display: block;

    margin-left: 30px;

    @include font(24px, 24px, $font-weight-bold);
  }
}
