.button-delete {
  position: absolute;
  top: -11px;
  right: -11px;

  width: 21px;
  height: 21px;

  background-color: $color-white-smoky;
  border: none;
  border-radius: 50%;

  cursor: pointer;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 10px;
    left: 5px;

    width: 11px;
    height: 1px;

    background-color: $color-black;

    opacity: 0.1;
  }

  &::before {
    transform: rotate(-45deg);
  }

  &::after {
    transform: rotate(45deg);
  }

  &:hover,
  &:focus {
    &::before,
    &::after {
      opacity: 0.3;
    }
  }

  &:active {
    &::before,
    &::after {
      opacity: 0.05;
    }
  }

  @include tablet {
    position: relative;
    top: auto;
    right: auto;

    margin-left: auto;

    background: transparent;

    &::before,
    &::after {
      left: 0;

      width: 24px;
    }
  }
}
