.button-down {
  position: absolute;
  top: 15px;
  left: 14px;

  width: 14px;
  height: 14px;

  background-color: transparent;
  border: none;

  &::after {
    content: "";
    position: absolute;
    top: 6px;
    left: 0;

    width: 14px;
    height: 2px;

    background-color: $color-grey-greaterly;
  }

  &:hover,
  &:focus {
    &::after {
      background-color: $color-pearl-light-grey;
    }
  }

  &:active {
    &::after {
      background-color: $color-hair-color;
    }
  }

  @include tablet {
    top: 25px;
    left: 23px;

    width: 20px;
    height: 20px;

    &::after {
      top: 9px;

      width: 20px;
    }
  }
}
